{% extends 'base.html' %} 
{% block title %}
    <title>Todo List Manager - Taskmate</title>
{% endblock %}
{% block content %}
<div class="container">
    <br> 
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>    
            </div>    
        {% endfor %}
    {% endif %}
    <form method="POST" class="row">
        {% csrf_token %}  
        <label class="col-lg-4"> Your Daily todo List</label>
        <input type="text" class="form-control col-lg-6" placeholder="Add a new Task here...." name="task">
        <button type="submit" class="btn btn-primary col-lg-2">Add task</button>
    </form>
    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th scope='col'>Task</th>
                <th scope='col'>Done</th>
                <th scope='col'>Edit</th>
                <th scope='col'>Delete</th>
            </tr>    
        </thead>    
        <tbody>
            {% if all_tasks %}    
                {% for obj in all_tasks %}
                    <tr class="{% if obj.done %}table-success{% endif %}">
                        <td scope="row">{{ obj.task }}</td>
                        <td>{{ obj.done|yesno:"Completed,Not completed" }}</td>
                        <td><a href="{% url 'edit_task' obj.id %}">Edit</td>
                        <td><a href="{% url 'delete_task' obj.id %}">Delete</a></td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td scope="row">{{ obj.task }}</td>
                        <td>Not completed</td>
                        <td><a href="{% url 'edit_task' obj.id %}">Edit</td>
                        <td><a href="{% url 'delete_task' obj.id %}">Delete</a></td>
                </tr>
            {% endif %}    
        </tbody>     
    </table>           
</div>
{% endblock %}
